/********************
GRUPO CLOCK
 ********************/

.single-chart {
  width: 100%;
  justify-content: space-around;
}

.circular-chart {
  display: block;
  margin: auto;
  /*max-width: 80%;
  max-height: 250px;*/
}

.circle-bg {
  fill: none;
  stroke: #eee;
  stroke-width: 3.8;
}

.circle {
  fill: none;
  stroke-width: 2.8;
  stroke-linecap: round;
    /*stroke-dasharray: 0 100;*/
  animation: all 1s ease-out forwards;
}

/*@keyframes progress {
  0% {
    stroke-dasharray: 0 100;
  }
}*/

.circular-chart.orange .circle {
  stroke: #ff9f00;
}

.circular-chart.green .circle {
  stroke: #4CC790;
}

.circular-chart.blue .circle {
  stroke: #3c9ee5;
}

.percentage {
  fill: #666;
  font-family: sans-serif;
  font-size: 0.5em;
  text-anchor: middle;
}

/********************
GRUPO GENERALES
 ********************/

.no-border{

}

/********************
GRUPO KANBAN
 ********************/

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop to it once it's empty
 */
.kanbanHolder ul[dnd-list] {
    min-height: 42px;
    padding-left: 0px;
}

.kanbanHolder .card{
    width: 300px;
}

/**
 * The dndDraggingSource class will be applied to
 * the source element of a drag operation. It makes
 * sense to hide it to give the user the feeling
 * that he's actually moving it.
 */
.kanbanHolder ul[dnd-list] .dndDraggingSource {
    display: none;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.kanbanHolder ul[dnd-list] .dndPlaceholder {
    background-color: #ddd;
    display: block;
    min-height: 42px;
}

.kanbanHolder ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * Show selected elements in green
 */
.kanbanHolder ul[dnd-list] li.selected {
    background-color: #dff0d8;
    color: #3c763d;
}